<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Bitwise MEAN Generator</title>
    <link rel="stylesheet"
          href="css/deps.css">
    <link rel="stylesheet"
          href="css/app.css">
</head>
<body>
    <ui-view></ui-view>

    <script src="js/deps.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/app.js"></script>
</body>
</html>